@import 'vendor/fontawesome.css';
@import 'vendor/ladda.min.css';
@import 'vendor/slick.css';
@import 'vendor/validationEngine.css';
@import 'vendor/tippy.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-full max-w-screen-md min-h-screen mx-auto overflow-x-hidden;
  }

  .game-container {
    @apply w-screen h-screen max-w-screen-xl mx-auto bg-cover bg-fixed bg-center overflow-hidden origin-top-left transform animate-300;

    &.rotate90 {
      @apply w-screen-h h-screen-w max-w-none m-0 p-0 bg-local rotate-90 translate-x-screen-w;
    }
  }

  header {
    @apply w-full h-16 max-w-screen-md shadow-3xl px-1 flex bg-gradient-to-t from-purple-900 via-purple-800 to-purple-600 fixed top-0 z-40 xm:space-x-1 xm:px-2 md:space-x-5;

    .avatar {
      @apply w-14 m-1 rounded-full flex-none overflow-hidden linearPink;
    }

    .top-list {
      @apply text-xs text-white text-center mx-auto my-1 leading-6 flex space-x-1 xm:space-x-2 xm:tracking-wide xm:text-sm;

      .info-box {
        @apply px-1 rounded-full bg-dark-purple shadow-dark-inner xm:px-2;

        img {
          @apply w-6 absolute top-1;
        }

        .bonus {
          @apply pl-6;
        }
      }
    }

    .top-coin {
      @apply text-white text-lg text-center rounded-full bg-gradient-to-t from-light-pink via-light-pink to-fuchsia-300 relative;

      img {
        @apply w-7 absolute top-0;
      }

      b {
        @apply font-normal tracking-wide leading-6 pl-8 pr-2;
      }
    }
  }

  nav,
  .game-nav {
    @apply m-0 p-0;

    .nav-btn {
      @apply table relative top-4 md:cursor-pointer;

      .nav-icon {
        @apply w-10 h-1.5 bg-transparent block my-3 rounded-full relative animate-300;

        &::before,
        &::after {
          @apply w-full h-1.5 bg-gray-200 block rounded-full absolute top-0 animate-300;
          content: '';
        }

        &::before {
          @apply transform rotate-45 top-0;
        }

        &::after {
          @apply transform -rotate-45 top-0;
        }
      }

      &.not-active {
        .nav-icon {
          @apply bg-gray-200;

          &::before {
            @apply rotate-0 top-3;
          }
          &::after {
            @apply rotate-0 -top-3;
          }
        }
      }
    }
  }

  nav {
    .nav-main {
      @apply w-11/12 text-white bg-gradient-to-l from-purple-900 via-violet-800 to-purple-600 rounded-md overflow-hidden shadow-3xl absolute top-16 right-4 z-30 linearPurple sm:w-6/12;

      li {
        @apply border-b border-purple-400 last:border-b-0;

        a {
          @apply p-3 block hover:bg-purple-900 hover:pl-6 animate-300;

          i {
            @apply mr-2;
          }
        }
      }
    }

    .nav-mask {
      @apply w-full h-screen bg-black opacity-60 animate-300 absolute left-0 top-16 md:max-w-screen-md;

      &.not-active {
        @apply h-0 opacity-0;
      }
    }
  }

  .nav-left {
    @apply text-3xl text-white ml-2 mt-0 md:text-4xl md:mt-2 ipx:m-0;

    a {
      @apply inline-block transform animate-300 active:scale-95;
    }
  }

  .game-nav {
    @apply m-0 p-0 relative;

    .nav-btn {
      @apply top-1 md:top-3 ipx:top-1.5;

      .nav-icon {
        @apply w-8 h-1 sm:w-10 sm:h-1.5;

        &::before,
        &::after {
          @apply h-1 sm:h-1.5;
        }
      }

      &.not-active {
        .nav-icon {
          &::before {
            @apply top-2 sm:top-3;
          }
          &::after {
            @apply -top-2 sm:-top-3;
          }
        }
      }
    }
    .nav-i-btn {
      @apply w-auto text-3xl md:text-4xl text-white transform animate-300 scale-95 animate-300 mt-0 md:mt-2 md:cursor-pointer ipx:m-0;

      &.not-active {
        @apply transform scale-100;
      }
    }

    .nav-personal {
      @apply w-96 ring-2 ring-light-pink ring-opacity-80 bg-gradient-to-l from-black via-purple-700 to-transparent rounded-md shadow-3xl absolute top-16 -right-full z-30;

      &::before {
        @apply w-0 h-0 border-t-0 border-r-8 border-b-8 border-l-8 absolute -top-2 right-3/20;
        content: '';
        border-color: transparent transparent #fd08f4 transparent;
      }

      ul.personal {
        li {
          @apply text-gray-200;

          span {
            @apply text-violet-200;
          }

          b.account {
            @apply text-light-pink;
          }
        }
      }

      &.gray {
        @apply ring-gray-800 bg-gradient-to-t from-black via-gray-800 to-transparent;

        &::before {
          border-color: transparent transparent #000 transparent;
        }

        ul.personal {
          li {
            @apply border-gray-500;

            span {
              @apply text-gray-400;
            }

            b.account {
              @apply text-blue-500;
            }

            b.next-level {
              @apply text-gray-500;
            }
          }
        }
      }

      &.blue {
        @apply ring-blue-700 bg-gradient-to-t from-blue-600 via-black to-transparent;

        &::before {
          border-color: transparent transparent #1d4ed8 transparent;
        }

        ul.personal {
          li {
            @apply border-blue-500;

            span {
              @apply text-blue-300;
            }

            b.account {
              @apply text-indigo-500;
            }

            b.next-level {
              @apply text-blue-300;
            }
          }
        }
      }

      &.purple {
        @apply ring-purple-600 bg-gradient-to-t from-purple-700 via-black to-transparent;

        &::before {
          border-color: transparent transparent #9333ea transparent;
        }
        ul.personal {
          li {
            @apply border-purple-400;

            span {
              @apply text-purple-200;
            }

            b.account {
              @apply text-light-pink;
            }

            b.next-level {
              @apply text-purple-200;
            }
          }
        }
      }
    }

    .nav-main {
      @apply w-40 ring-2 ring-light-pink ring-opacity-80 rounded-md bg-gradient-to-t from-black via-purple-700 to-transparent shadow-3xl absolute top-16 -right-full z-30;

      &::before {
        @apply w-0 h-0 border-t-0 border-r-8 border-b-8 border-l-8 absolute -top-2 right-1/3;
        content: '';
        border-color: transparent transparent #fd08f4 transparent;
      }

      li {
        @apply text-white p-0.5 pb-0 border-b border-purple-400 last:border-b-0;

        a {
          @apply p-3 block hover:bg-light-pink hover:pl-6 animate-300;

          i {
            @apply mr-2;
          }
        }
      }

      &.gray {
        @apply ring-gray-800 from-black via-gray-800 to-transparent;

        &::before {
          border-color: transparent transparent #000 transparent;
        }

        li {
          @apply border-gray-500;

          a {
            @apply hover:bg-black;
          }
        }
      }

      &.blue {
        @apply ring-blue-700 from-blue-700 via-blue-700 to-transparent;

        &::before {
          border-color: transparent transparent #1d4ed8 transparent;
        }

        li {
          @apply border-blue-500;

          a {
            @apply hover:bg-black;
          }
        }
      }

      &.purple {
        @apply ring-purple-600 from-purple-700 via-purple-600 to-transparent;

        &::before {
          border-color: transparent transparent #9333ea transparent;
        }

        li {
          @apply border-purple-500;

          a {
            @apply hover:bg-black;
          }
        }
      }
    }
  }

  .marquee-box {
    @apply ml-10 leading-10 tracking-wider overflow-hidden;

    ul.marquee {
      @apply w-full h-10 text-white overflow-hidden relative;

      li {
        @apply block whitespace-nowrap absolute -top-full;
      }
    }
  }

  #slider-banner {
    @apply w-full;
  }

  .swiper-container {
    @apply mx-2 overflow-hidden rounded-xl relative;

    .swiper-wrapper {
      @apply flex;

      .swiper-slide {
        @apply w-full h-full flex flex-shrink-0;

        img {
          @apply w-full h-full;
        }
      }
    }

    .swiper-pagination {
      @apply w-full text-center absolute bottom-1 z-10;

      .swiper-pagination-bullet {
        @apply w-3 h-3 mx-1.5 inline-block rounded-full bg-fuchsia-200 cursor-pointer;

        &.swiper-pagination-bullet-active {
          @apply bg-fuchsia-500;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      @apply text-fuchsia-500 absolute z-10 top-2/5 md:cursor-pointer;
    }
    .swiper-button-prev {
      @apply right-2.5;
    }
    .swiper-button-next {
      @apply left-2.5;
    }

    .swiper-button-prev i,
    .swiper-button-next i {
      @apply text-3xl hover:text-fuchsia-200 animate-300 sm:text-4xl md:text-5xl;
    }
  }

  .quickly-nav {
    @apply mt-5 px-2 animate-300;

    &.fixed-nav {
      @apply w-full max-w-screen-md mt-0 fixed top-16 z-20;

      .head-bulb {
        @apply opacity-100;
      }

      .slider-nav {
        a {
          @apply md:px-8;
        }
      }
    }

    .slider-nav {
      @apply max-w-screen-md opacity-0;

      a {
        @apply overflow-hidden my-5 px-3 cursor-pointer animate-300 relative sm:px-0;
        img {
          @apply m-auto h-auto;
        }
      }

      .slick-center {
        a {
          @apply transform scale-135;
        }
      }
    }

    .head-bulb {
      @apply w-full h-full absolute top-0 left-0 -z-1 opacity-0;

      img:nth-of-type(1) {
        @apply absolute -top-full z-0 md:-top-16/10;
      }

      img:nth-of-type(2) {
        @apply absolute -top-full z-10 animate-bulbLight md:-top-16/10;
      }

      img:nth-of-type(3) {
        @apply absolute -top-full z-10 animate-bulbLight-2 md:-top-16/10;
      }
    }
  }

  .game-slide {
    .swiper-slide {
      @apply flex justify-center scale-75 animate-300;
    }

    .swiper-slide-active,
    .swiper-slide-duplicate-active {
      @apply scale-100;
    }
  }

  .type-list {
    @apply w-full h-full my-3/25 mb-32 animate-300 xm:mb-48 sm:mt-20;

    &.has-quickly {
      @apply mt-2/5;
    }
  }

  .main-title {
    @apply w-full text-2xl text-white text-center tracking-wider block mb-4 px-2 xm:mb-10;

    &::before,
    &::after {
      @apply w-1/6 h-px bg-white mx-5 inline-block align-middle xm:w-3/12 md:w-2/6;
      content: '';
    }
  }

  .main-list {
    @apply mt-6 mb-16 grid grid-cols-2 gap-x-1 gap-y-10 sm:gap-x-2 xm:mt-10 xm:mb-20 sm:gap-y-24;

    &.hasJackpot {
      @apply mt-14 xs:mt-20 sm:mt-28;
    }

    img {
      @apply w-full h-auto;
    }
  }

  .jackpot {
    @apply w-full;

    img.title {
      @apply w-full px-6 absolute -top-1.1/10 z-10 animate-scaleRubber;
    }

    img.bg-coin {
      @apply px-2 -top-1/4 absolute;
    }

    ul {
      @apply absolute z-10;

      li {
        @apply relative;

        .jb-number {
          @apply text-center font-bebas-neue font-bold absolute;

          span {
            @apply text-transparent bg-clip-text decoration-clone bg-gradient-to-b from-yellow-400 via-yellow-200 to-yellow-500;
          }

          img {
            @apply m-auto px-4;
          }
        }
      }
      li:nth-of-type(1) {
        .jb-number {
          @apply w-10/12 text-base leading-relaxed left-2/25 xs:mt-0.6/100 xm:text-lg xm:mt-0.8/100 sx:text-2xl sx:mt-2/100 sm:text-3xl md:text-4xl md:mt-2.5;
        }
      }

      li:nth-of-type(2) {
        .jb-number {
          @apply w-9/12 text-sm leading-normal left-3/25 xs:mt-0.6/100 xm:text-base xm:mt-0.8/100 sx:text-xl sx:mt-2/100 sm:text-2xl md:text-3xl;
        }
      }

      li:nth-of-type(3) {
        .jb-number {
          @apply w-9/12 text-xs leading-normal left-3/25 xs:mt-0.6/100 xm:text-sm xm:mt-0.8/100 sx:text-lg sx:mt-1.5/100 sm:text-xl md:text-2xl md:mt-2;
        }
      }
    }
  }

  #slider-gameList {
    .swiper-container {
      @apply rounded-none mx-6;

      .swiper-wrapper {
        .swiper-slide {
          a {
            @apply w-full h-full text-white text-center p-2 rounded-md block linearPurple-2;

            i {
              @apply mr-2;
            }

            &.active {
              @apply linearPurple-2-hover;
            }
          }

          a:hover {
            @apply linearPurple-2-hover;
          }
        }
      }
    }
  }

  ul.game-name {
    @apply w-full h-6 font-bold overflow-hidden relative;

    li {
      @apply block whitespace-nowrap absolute -top-full;
    }
  }

  .game-item {
    @apply w-full h-auto opacity-0 relative z-0;

    .head-info {
      @apply w-9/12 text-white tracking-wider px-1 absolute top-1.5/25 left-3/25 z-10 md:top-1.5/25 md:px-2;

      ul.game-name {
        @apply text-base sx:h-6 md:text-lg md:h-7;
      }

      .game-number {
        @apply text-sm block md:text-base sx:text-sm;
      }

      .game-link {
        @apply block mt-0 xm:mt-1 md:mt-3;
        a {
          @apply text-base text-center tracking-wider leading-7 block bg-light-pink rounded-xl animate-300 hover:bg-violet-700;
        }
      }
    }

    .use-info {
      @apply w-9.05/10 h-full rounded-xl  bg-opacity-70 absolute top-0 z-0;

      .info-box {
        @apply w-full text-white text-center px-1;

        .avatar {
          @apply w-16 mx-auto rounded-full overflow-hidden border-4 border-black border-opacity-40 xs:w-14 sx:w-20;
        }

        .nickname {
          @apply leading-4 mt-1 block sx:text-base xs:mt-0 sx:leading-4 sx:mt-2;
        }

        .status {
          @apply text-lg mt-1 block sx:text-lg xs:text-base sx:mt-2 sm:text-xl sm:mt-4;

          i {
            @apply block text-3xl xs:text-lg sx:text-2xl sm:text-4xl;
          }
        }
      }
    }
  }

  .main-nav {
    @apply w-full h-20 max-w-screen-md shadow-3xl bg-menu bg-cover bg-center fixed bottom-0 z-30 sm:h-28;

    ul {
      @apply grid grid-cols-12 gap-x-3 relative bottom-1/25 xs:bottom-3/25 xm:bottom-1.75/5 sx:bottom-2/5 sm:bottom-2/5;
      li {
        @apply col-span-2;
        a {
          @apply text-center text-base tracking-wider text-white block animate-300 transform hover:scale-110;
          .item {
            @apply pb-full bg-cover;
          }
        }
      }

      li:nth-of-type(3) {
        @apply col-span-4 relative bottom-1/5;

        a {
          @apply block animate-300 transform hover:rotate-360 active:rotate-180;
        }
      }
    }
  }

  .left-nav {
    @apply w-full h-9/10 px-4 overflow-y-auto;

    h2 {
      @apply text-lg text-white font-bold tracking-wider px-3 border-b;

      i {
        @apply mr-1;
      }
    }

    ul {
      @apply mt-4 mb-10 grid grid-cols-3 gap-2 xm:grid-cols-4 sm:grid-cols-5;

      li {
        a {
          @apply table mx-auto transform animate-300 hover:-translate-y-2 hover:scale-105 hover:animate-jello-horizontal;

          img {
            @apply w-full h-auto;
          }
        }
      }
    }
  }

  .bottom-info {
  }

  .jackpot-list {
    @apply px-1 py-4 relative;

    .jb-box {
      @apply w-full my-3 relative z-10 sm:w-3/4;

      .range-box {
        @apply w-2/5 absolute -top-1.5 right-3/25 z-10;

        span {
          @apply text-xs text-white text-center leading-5 block px-2 xm:text-sm xm:px-4 sx:text-base sx:leading-7;
        }

        img {
          @apply w-full h-auto absolute top-0 -z-1;
        }
      }

      .jb-number {
        @apply w-7/12 h-12 text-2xl text-center font-bebas-neue font-bold px-4 absolute right-1/10 bottom-2/25 z-20 xs:bottom-3/25 xm:text-3xl xm:bottom-1/5 sx:text-4xl sx:bottom-3/10 sm:bottom-2.5/10;

        span {
          @apply text-transparent bg-clip-text decoration-clone bg-gradient-to-b from-yellow-400 via-yellow-200 to-yellow-500;
        }
      }

      .bg-box {
        @apply bg-bottom bg-no-repeat bg-cover;

        img:nth-of-type(1) {
          @apply w-1/4 absolute left-5 top-0 z-20;
        }

        img:nth-of-type(2) {
          @apply w-1/3 animate-scaleRubber absolute left-0 top-2 z-20;
        }

        img:nth-of-type(3) {
          @apply w-full h-auto animate-bulbLight;
        }
      }
    }

    .jb-box:nth-of-type(1) {
      @apply animate-fly sm:ml-3/25;
    }

    .jb-box:nth-of-type(2) {
      @apply animate-fly-2 sm:ml-1/5;
    }

    .bg-coin {
      @apply w-2/3 absolute top-1/25 left-1/10 sm:w-1/2;
    }
  }

  ul.personal {
    @apply text-sm leading-10 px-2 xs:leading-10 xs:text-base xs:px-5;

    li {
      @apply border-b border-purple-500 border-dashed;

      span {
        @apply w-20 inline-block text-gray-500;

        &::after {
          @apply mr-2 float-right;
          content: ':';
        }
      }

      b.account {
        @apply text-xl text-purple-700;
      }

      b.next-level {
        @apply text-xs text-gray-400 font-normal;
      }

      &.copy {
        @apply mb-6;

        input {
          @apply text-gray-700 mt-2 pr-14;
        }

        .copy-btn {
          @apply text-white px-3.5 rounded-full  bg-purple-700 block hover:bg-purple-900 animate-300 absolute top-3 right-2;
        }
      }
    }

    li:last-of-type {
      @apply border-none;
    }
  }

  .playing-box {
    @apply w-full;

    input.checkbox {
      @apply w-0 h-0 m-0 p-0 bg-none border-none outline-none appearance-none;
    }

    input.checkbox:checked {
      ~ .card-body {
        @apply scale-95;

        .card-cover-checkbox {
          @apply opacity-100 scale-100;

          svg {
            stroke-dashoffset: 0;
          }
        }
      }
    }

    .card-body {
      @apply p-2 bg-white bg-opacity-90 shadow-lg rounded-md transform animate-300 active:scale-95 flex;

      .card-pic {
        @apply w-24 h-32 relative bottom-10 z-0;

        img {
          @apply w-24 h-40 object-cover rounded-xl overflow-hidden shadow-3xl;
        }

        .card-cover-checkbox {
          @apply w-7 h-7 bg-purple-700 border-2 border-white rounded-full animate-300 opacity-0 transform scale-0 absolute top-3 -right-3 z-0;

          svg {
            @apply w-4 h-3 stroke-2 stroke-current text-white mt-1.5 ml-1;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 16px;
            stroke-dashoffset: 16px;
            transition: stroke-dashoffset 0.4s ease 0.15s;
          }
        }
      }

      .card-info {
        @apply flex-auto pl-5 relative;

        ul.game-name {
          @apply text-base md:text-lg md:h-7;
        }

        .game-number {
          @apply text-sm text-purple-600 block md:text-base sx:text-sm;
        }

        .game-status {
          @apply w-full pt-2 border-t border-purple-500 border-dashed grid grid-cols-2 gap-2 sm:gap-1 md:gap-2;

          b {
            @apply text-sm tracking-normal md:tracking-widest;

            i {
              @apply mr-2;
            }
          }
        }

        .enter-btn {
          @apply absolute bottom-2 right-1;

          a {
            @apply w-auto text-base tracking-normal bg-purple-700 px-4 py-2 shadow-2xl animate-300 hover:bg-purple-900;

            i {
              @apply ml-2;
            }
          }
        }
      }
    }
  }

  .avatar-upload {
    @apply linearPurple-2 mb-4 px-5 py-3 rounded-md shadow-2xl overflow-hidden table relative;

    label {
      @apply text-base text-white text-center tracking-widest;

      i {
        @apply text-lg mr-2;
      }
    }

    > input {
      @apply w-auto h-full m-0 p-0 opacity-0 cursor-pointer absolute top-0 right-0;
      transform: translate(-300px, 0) scale(4);
      direction: ltr;
    }
  }

  .avatar-image {
    @apply mt-4;

    .image-view {
      @apply w-full block overflow-hidden;

      .avatar-wrapper {
        @apply w-full max-w-4xl h-auto max-h-96 bg-black shadow-3xl;

        img {
          @apply w-full h-auto;
        }
      }
    }

    .image-thumb {
      @apply hidden;
    }
  }

  .avatar-control {
    @apply w-full mt-2 grid grid-cols-1 gap-2 xm:grid-cols-3;

    button {
      @apply text-base text-white text-center rounded-md bg-purple-600 border border-purple-700 px-6 py-3 shadow-2xl inline-block animate-300 hover:bg-purple-800 hover:border-purple-900;

      i {
        @apply text-sm mr-2 xm:table xm:mx-auto xm:leading-6 sx:mr-2 sx:inline-block;
      }
    }

    &.submit-control {
      @apply grid-cols-none md:grid-cols-none;

      button {
        @apply text-xl;

        i {
          @apply text-xl ml-0;
        }
      }
    }
  }

  ul.record {
    @apply my-10;

    li {
      @apply w-full bg-white rounded-md mb-4 px-2 py-4 flex relative;

      &.no-data {
        @apply w-full text-center tracking-wide py-10 block;

        i {
          @apply text-2xl text-gray-700 mr-2 relative top-0.5;
        }
      }

      .type {
        @apply text-base text-center text-white tracking-widest align-top px-6 py-2 rounded-bl-md rounded-br-md shadow-2xl absolute -top-2 right-4;
      }

      .sort {
        @apply w-12 text-base text-center text-gray-800 flex-none pt-4 border-r border-purple-400;

        b {
          @apply block transform rotate-90;
        }
      }

      .item-box {
        @apply w-full flex-1 pl-3 pr-2 sm:pl-6;

        h3 {
          @apply font-bold tracking-wide py-2 border-b border-dashed border-purple-400;

          i {
            @apply text-2xl text-purple-600 mx-2;
          }

          span {
            @apply text-purple-600 block;

            &.account {
              @apply text-sm text-gray-600 ml-2 inline-block;
            }
          }

          b {
            @apply text-lg block;

            span {
              @apply text-base text-gray-700 mr-2 inline-block;
            }
          }
        }

        .info {
          @apply text-sm leading-6 my-1 grid;

          span {
            @apply float-right;
          }
        }

        .time {
          @apply text-sm text-white text-center bg-purple-600 rounded-full py-2 mt-3;

          i {
            @apply mr-2;
          }
        }
      }
    }
  }

  form.transform-point {
    @apply mt-8;

    .form-group {
      label {
        @apply pl-6;
      }
    }

    .btn {
      i {
        @apply table mx-auto mb-1;
      }
    }
  }

  ul.activity-list {
    @apply w-full grid grid-cols-1 gap-y-5;

    li {
      a {
        @apply shadow-3xl animate-300 block transform hover:scale-95;

        img {
          @apply w-full h-auto rounded-t-md;
        }

        h2 {
          @apply text-sm text-purple-900 tracking-wider px-4 py-2 bg-purple-300 rounded-b-md block xs:text-base;
        }
      }
    }
  }
  .ac-pane {
    @apply text-black bg-purple-200 rounded-md border-b border-purple-400 mb-3;

    &.active {
      @apply text-white bg-purple-500;

      .btn-unfold {
        @apply bg-purple-900;
      }
    }

    a.ac-title {
      @apply leading-7 p-6 py-2 block xs:py-6;
    }

    .btn-unfold {
      @apply w-7 h-7 text-gray-50 text-center ml-1/5 pt-2/100 bg-purple-600 rounded-full;
    }
    .ac-content {
      @apply text-sm text-black text-justify p-6 pl-10 bg-white rounded-b-md hidden;
    }
  }

  .media-box {
    @apply w-full h-full transform animate-300 relative;

    canvas {
      @apply w-full h-full;
    }

    .media-loading {
      @apply w-full h-full bg-black opacity-0 hidden animate-300 absolute top-0 left-0 z-10;

      &.show {
        @apply opacity-100 block;
      }

      img {
        @apply w-36 h-auto -mt-18 -ml-18 absolute left-1/2 top-1/2;
      }
    }

    .mask {
      @apply w-full h-full bg-transparent absolute top-0 left-0 z-0;
    }
  }
}

@layer utilities {
  * {
    @apply select-none;
  }

  input,
  textarea,
  select {
    @apply pointer-events-auto;
    -webkit-user-select: auto;
  }

  a {
    @apply outline-none;
    -webkit-tap-highlight-color: transparent;
  }

  .animate-100 {
    @apply transition-all duration-100 ease-in-out;
  }

  .animate-300 {
    @apply transition-all duration-300 ease-in-out;
  }

  .bg-box {
    .bg {
      @apply w-full h-full overflow-hidden fixed top-0 -z-1 md:max-w-screen-md;
    }

    .bg-game {
      @apply w-full h-full overflow-hidden fixed top-0 -z-1 md:max-w-screen-xl;

      img {
        @apply w-full h-full;
      }
    }
    .bg-main-fixed {
      @apply bg-cover bg-fixed bg-center md:-bg-top-10;
    }

    .head-bulb {
      @apply opacity-80 absolute top-24 -z-1;

      img:nth-of-type(1) {
        @apply relative top-0 z-0;
      }

      img:nth-of-type(2) {
        @apply absolute top-0 z-10 animate-bulbLight;
      }

      img:nth-of-type(3) {
        @apply absolute top-0 z-10 animate-bulbLight-2;
      }
    }

    .bg-shiny {
      @apply w-screen max-w-screen-md absolute top-0 animate-light md:-top-60;
    }
  }

  .panel {
    @apply w-3/4 h-full max-w-2xl overflow-hidden opacity-0 animate-300 fixed left-auto top-0 -z-1;

    &.bottom-panel {
      @apply w-full h-1/2 max-w-3xl top-auto bottom-0 md:h-4/6;
    }

    .panel-box {
      @apply w-full h-full bg-black bg-opacity-90 pt-1 shadow-xl rounded-r-2xl transform -translate-x-44 animate-300;

      &.bottom-panel-box {
        @apply rounded-br-none rounded-t-2xl translate-x-0 translate-y-160;
      }

      .closeNav-btn,
      .closeService-btn {
        @apply text-3xl text-white text-right mx-3 mt-1 mb-3 block cursor-pointer md:text-4xl;
      }
    }

    &.ps-active-panel {
      @apply opacity-100 z-50;

      .panel-box {
        @apply translate-x-0 translate-y-0;
      }
    }
  }

  .loading {
    @apply w-full h-full overflow-hidden fixed top-0 left-0 z-100;

    &::before {
      @apply w-full h-full bg-gray-900 absolute z-0;
      content: '';
    }

    .loader {
      @apply w-32 h-40 transform -translate-x-1/2 -translate-y-1/2 absolute top-1/2 left-1/2;

      span {
        @apply hidden;
      }

      &::before {
        @apply w-full h-full bg-logo bg-cover animate-scaleRotate absolute z-10;
        content: '';
      }
    }
  }

  .post-page {
    @apply w-full text-center block opacity-0;

    ul {
      li {
        @apply w-auto inline-block mx-2 mb-4 sm:mb-0;

        a {
          @apply w-10 h-10 text-lg text-white font-bold leading-10 bg-violet-700 block rounded animate-300 hover:bg-gray-900;
        }

        &.active,
        &.disabled {
          a {
            @apply text-violet-200 border border-violet-200 bg-transparent;
          }
        }
      }
    }
  }

  input {
    @apply w-full h-12 text-base text-gray-900 rounded-3xl bg-white px-6 placeholder-gray-500 focus:placeholder-gray-400 focus:outline-none bg-none;
  }

  input[name='password'],
  input[name='confirmPassword'] {
    @apply pr-10;
  }

  .form-group {
    @apply text-base text-white tracking-widest mt-5;

    label {
      @apply block mb-1 pl-1.5;

      span {
        @apply text-red-500 mr-2;

        i {
          @apply text-xl text-center mr-4;
        }
      }
    }
  }

  #verify {
    input {
      @apply w-full inline-block xm:w-2/4;
    }

    .avoid-btn {
      @apply mt-2 block relative xm:inline-block xm:mt-0;

      a {
        @apply w-full text-base text-white text-center rounded-md bg-purple-600 border border-purple-700 px-6 py-3 shadow-xl inline-block animate-300 hover:bg-purple-800 hover:border-purple-900 xm:w-auto;
      }

      span.overtime {
        @apply w-full h-full rounded-md bg-black bg-opacity-50 px-6 py-4 cursor-not-allowed absolute left-0 top-0 z-10;
      }
    }
    .msg {
      @apply text-base text-white tracking-wider mt-2 mb-4 ml-4 block;

      i {
        @apply text-lg text-purple-400 mr-2;
      }
    }
  }

  .btn {
    @apply w-full h-auto text-xl text-white text-center rounded-md tracking-widest shadow-3xl animate-300;

    &.sm-btn {
      @apply w-auto text-base py-3 leading-6 tracking-wider sm:leading-10;

      i {
        @apply text-2xl mr-2 relative top-1;
      }
    }

    &.record-btn {
      @apply py-4 leading-6;

      i {
        @apply sm:mx-auto sm:table sm:top-0;
      }
    }

    &.btn-Purple {
      @apply linearPurple-2;

      &.ladda-button {
        @apply text-base;
        &[disabled],
        &[data-loading] {
          @apply linearPurple-2-hover;
        }
        &[disabled]:hover,
        &[data-loading]:hover {
          @apply linearPurple-2-hover;
        }
      }
    }
    &.btn-Purple:hover {
      @apply linearPurple-2-hover;
    }

    &.btn-Pink {
      @apply linearPink-2;

      &.ladda-button {
        @apply text-base;
        &[disabled],
        &[data-loading] {
          @apply linearPink-2-hover;
        }
        &[disabled]:hover,
        &[data-loading]:hover {
          @apply linearPink-2-hover;
        }
      }
    }
    &.btn-Pink:hover {
      @apply linearPink-2-hover;
    }

    &.ladda-button {
      &[disabled],
      &[data-loading] {
        @apply border-transparent;

        &,
        &:hover {
          @apply bg-gray-800;
        }
      }
    }
  }

  .tr-btn {
    @apply text-2xl text-center text-white rounded-md px-5 py-2 shadow-3xl absolute -top-2 right-1;

    &.btn-Purple {
      @apply linearPurple-2;
    }
    &.btn-Purple:hover {
      @apply linearPurple-2-hover;
    }

    &.btn-Pink {
      @apply linearPink-2;
    }
    &.btn-Pink:hover {
      @apply linearPink-2-hover;
    }
  }

  .showPwd {
    @apply text-xl text-gray-500 absolute bottom-2.5 right-2.5 hover:text-gray-900 animate-300;
  }

  .game-info {
    @apply w-full h-8 mt-0 pl-16 pr-3.5 rounded-full ring-2 ring-white ring-opacity-30 relative h-8 sm:h-10 ipx:h-8 mt-2  md:mt-2 ipx:mt-3;

    &.dark-green {
      @apply bg-gradient-to-b from-dark-gray to-dark-green;
    }

    &.pink {
      @apply bg-gradient-to-b from-light-pink-100 to-light-pink;
    }

    img {
      @apply w-12 h-auto rounded-full ring-8 ring-blue-300 ring-inset ring-opacity-30 shadow-xl absolute -top-2 -left-2 sm:w-16 sm:-top-3 ipx:w-14 lg:w-17;
    }

    ul.game-name {
      @apply h-4.5 sm:h-6;
      li {
        @apply text-sm md:text-base ipx:leading-4 ipx:text-xs;
      }
    }

    .game-number {
      @apply text-xs md:text-sm tracking-wider text-left -mt-1 sm:-mt-1 ipx:leading-3 block;
    }
  }

  .game-btn {
    @apply w-full h-auto block bg-contain bg-center bg-no-repeat transform animate-100 md:cursor-pointer;

    &::after {
      @apply w-full h-full bg-contain bg-center bg-no-repeat opacity-0 absolute;
      content: '';
    }
  }

  .game-btn:active {
    @apply bg-none;

    &::after {
      @apply opacity-100;
    }
  }

  .game-7pk-1 {
    @apply grid grid-cols-7 gap-0.5;

    .game-btn {
      @apply pb-full;

      &.btn-upper {
        @apply mb-6;
      }

      &.btn-lower {
        @apply mt-6;
      }
    }

    .btn-shangfen {
      @apply bg-7pk-1-shangfen active:bg-none;

      &::after {
        @apply bg-7pk-1-shangfen-hover;
      }
    }

    .btn-xiafen {
      @apply bg-7pk-1-xiafen active:bg-none;

      &::after {
        @apply bg-7pk-1-xiafen-hover;
      }
    }

    .btn-bet {
      @apply bg-7pk-1-bet active:bg-none;

      &::after {
        @apply bg-7pk-1-bet-hover;
      }
    }

    .btn-open {
      @apply bg-7pk-1-open active:bg-none;

      &::after {
        @apply bg-7pk-1-open-hover;
      }
    }

    .btn-xiao {
      @apply bg-7pk-1-xiao active:bg-none;

      &::after {
        @apply bg-7pk-1-xiao-hover;
      }
    }

    .btn-da {
      @apply bg-7pk-1-da active:bg-none;

      &::after {
        @apply bg-7pk-1-da-hover;
      }
    }

    .btn-bibei {
      @apply bg-7pk-1-bibei active:bg-none;

      &::after {
        @apply bg-7pk-1-bibei-hover;
      }
    }

    .btn-score {
      @apply bg-7pk-1-score active:bg-none;

      &::after {
        @apply bg-7pk-1-score-hover;
      }
    }
  }

  .game-15r-1 {
    .game-nav {
      .nav-main {
        @apply right-0;

        &::before {
          @apply right-1/10;
        }
      }
    }

    .btn-bet {
      @apply bg-15r-1-bet active:bg-none bg-bottom;

      &::after {
        @apply bg-15r-1-bet-hover bg-bottom;
      }
    }

    .btn-start {
      @apply bg-15r-1-start active:bg-none bg-bottom;

      &::after {
        @apply bg-15r-1-start-hover bg-bottom;
      }
    }
    .btn-auto {
      @apply bg-15r-1-auto active:bg-none bg-bottom;

      &::after {
        @apply bg-15r-1-auto-hover bg-bottom;
      }
    }
    .btn-shangfen {
      @apply bg-15r-1-shangfen active:bg-none bg-bottom;

      &::after {
        @apply bg-15r-1-shangfen-hover bg-bottom;
      }
    }
    .btn-xiafen {
      @apply bg-15r-1-xiafen active:bg-none bg-bottom;

      &::after {
        @apply bg-15r-1-xiafen-hover bg-bottom;
      }
    }
    .btn-stop1 {
      @apply bg-15r-1-stop1 active:bg-none bg-right;

      &::after {
        @apply bg-15r-1-stop1-hover;
      }
    }
    .btn-stop2 {
      @apply bg-15r-1-stop2 active:bg-none bg-right;

      &::after {
        @apply bg-15r-1-stop2-hover;
      }
    }
    .btn-stop3 {
      @apply bg-15r-1-stop3 active:bg-none bg-right;

      &::after {
        @apply bg-15r-1-stop3-hover;
      }
    }
    .btn-stop4 {
      @apply bg-15r-1-stop4 active:bg-none bg-right;

      &::after {
        @apply bg-15r-1-stop4-hover;
      }
    }
    .btn-stop5 {
      @apply bg-15r-1-stop5 active:bg-none bg-right;

      &::after {
        @apply bg-15r-1-stop5-hover;
      }
    }
  }

  .game-marie-1 {
    .control-panel {
      @apply pt-2 md:pt-3 xl:pt-6 pb-1 bg-black;

      .control-panel-item {
        @apply border-2 border-gray-600 lg:grid lg:grid-rows-5;

        .rate {
          @apply text-sm lg:text-2xl ipx:text-xs text-center font-bold tracking-tighter leading-loose pt-5/100;
        }

        .show-fruit {
          @apply lg:row-span-2  bg-white px-2 pt-0 lg:pt-3/20;
        }

        .control-panel-btn {
          @apply row-span-2 bg-green-700 pt-3/20 pb-5/100;
        }
      }
    }

    .btn-start {
      @apply bg-marie-1-start active:bg-none bg-bottom;

      &::after {
        @apply bg-marie-1-start-hover bg-bottom;
      }
    }

    .btn-shangfen {
      @apply bg-marie-1-shangfen active:bg-none bg-bottom;

      &::after {
        @apply bg-marie-1-shangfen-hover bg-bottom;
      }
    }

    .btn-xiafen {
      @apply bg-marie-1-xiafen active:bg-none bg-bottom;

      &::after {
        @apply bg-marie-1-xiafen-hover bg-bottom;
      }
    }

    .btn-right {
      @apply bg-marie-1-right active:bg-none bg-bottom;

      &::after {
        @apply bg-marie-1-right-hover bg-bottom;
      }
    }

    .btn-left {
      @apply bg-marie-1-left active:bg-none bg-bottom;

      &::after {
        @apply bg-marie-1-left-hover bg-bottom;
      }
    }

    .btn-xiao {
      @apply bg-marie-1-xiao active:bg-none bg-bottom;

      &::after {
        @apply bg-marie-1-xiao-hover bg-bottom;
      }
    }

    .btn-da {
      @apply bg-marie-1-da active:bg-none bg-bottom;

      &::after {
        @apply bg-marie-1-da-hover bg-bottom;
      }
    }

    .btn-fruit {
      @apply bg-marie-1-fruit active:bg-none bg-bottom;

      &::after {
        @apply bg-marie-1-fruit-hover bg-bottom;
      }
    }

    .icon {
      @apply bg-contain bg-center bg-no-repeat;
    }

    .icon-bar {
      @apply bg-marie-1-bar;
    }

    .icon-apple {
      @apply bg-marie-1-apple;
    }

    .icon-bell {
      @apply bg-marie-1-bell;
    }

    .icon-litchi {
      @apply bg-marie-1-litchi;
    }

    .icon-melon {
      @apply bg-marie-1-melon;
    }

    .icon-orange {
      @apply bg-marie-1-orange;
    }

    .icon-77 {
      @apply bg-marie-1-77;
    }

    .icon-star {
      @apply bg-marie-1-star;
    }

    .icon-watermelon {
      @apply bg-marie-1-watermelon;
    }
  }

  .game-fish-1 {
    .btn-bg {
      @apply bg-no-repeat bg-contain;
    }

    .game-nav {
      @apply text-center;

      .nav-i-btn {
        @apply mt-0;
      }

      .nav-personal {
        @apply -right-1/3;
      }

      .nav-btn {
        @apply mx-auto;

        .nav-icon {
          @apply mt-3 sm:w-8 sm:h-1;

          &::before,
          &::after {
            @apply sm:h-1;
          }
        }

        &.not-active {
          .nav-icon {
            &::before {
              @apply sm:top-2;
            }
            &::after {
              @apply sm:-top-2;
            }
          }
        }
      }

      .nav-main {
        @apply right-0;

        &::before {
          @apply right-3/20;
        }
      }
    }

    .game-btn {
      @apply pb-full active:scale-90;

      &.btn-upper {
        @apply mb-10;
      }

      &.btn-lower {
        @apply mt-10;
      }
    }

    .btn-fire {
      @apply bg-fish-1-fire active:bg-none relative;

      &::before {
        @apply w-full h-full bg-contain bg-fish-1-shoot transform animate-300 absolute z-10;
        content: '';
      }

      &::after {
        @apply bg-fish-1-fire-hover;
      }
    }

    .btn-fire:active {
      &::before {
        @apply rotate-180 scale-90;
      }
    }

    .btn-bet {
      @apply bg-fish-1-bet active:bg-none;

      &::after {
        @apply bg-fish-1-bet-hover;
      }
    }

    .btn-auto {
      @apply bg-fish-1-auto active:bg-none;

      &::after {
        @apply bg-fish-1-auto-hover;
      }

      &.active {
        @apply bg-fish-1-auto-hover scale-90;

        &::after {
          @apply bg-none;
        }
      }
    }

    .btn-right {
      @apply bg-fish-1-right active:bg-none;

      &::after {
        @apply bg-fish-1-right-hover;
      }
    }

    .btn-left {
      @apply bg-fish-1-left active:bg-none;

      &::after {
        @apply bg-fish-1-left-hover;
      }
    }

    .btn-weapon {
      @apply bg-fish-1-weapon active:bg-none;

      &::after {
        @apply bg-fish-1-weapon-hover;
      }
    }

    .btn-select {
      @apply bg-fish-1-select active:bg-none;

      &::after {
        @apply bg-fish-1-select-hover;
      }
    }
  }

  .popup {
    @apply w-full absolute z-20 top-0 hidden;
    .popup-center {
      @apply w-full h-screen flex items-center;
    }
    .popup-box {
      @apply w-7/12 h-auto m-auto  text-center shadow-4xl bg-gradient-to-t from-black via-violet-800 to-black rounded-lg linearPurple bg-clip-border relative z-30;

      .popup-head {
        @apply text-sm text-purple-300 px-2 py-0.5 rounded-t-lg border-t-2 border-fuchsia-600 sm:text-base;

        h3 {
          @apply text-lg sm:text-base;

          b {
            @apply text-xl text-white tracking-wider ml-1;
          }
        }

        span.rate {
          @apply w-2/4 text-sm text-white mx-auto mt-1 py-1 rounded-md block bg-black border border-violet-600;

          i {
            @apply text-base mr-2;
          }
        }

        ul {
          @apply block;

          li {
            @apply text-sm px-4 inline-block;

            span {
              @apply text-base text-white ml-2;
            }
          }
        }

        &.popup-head-title {
          h3 {
            @apply text-xl py-3;

            b {
              @apply text-2xl mx-2;
            }
          }
        }
      }

      .popup-content {
        @apply max-h-44 md:max-h-52 px-8 py-4 bg-black bg-opacity-40 border-t border-purple-700 overflow-auto ipx:py-1 ipx:max-h-44;

        ul.check-box {
          @apply md:mt-2 mb-1 md:mb-4;

          li {
            @apply w-full text-left mb-3;

            input[type='checkbox'] {
              @apply w-6 h-6 rounded-md float-left;
            }

            span {
              @apply text-sm md:text-base text-white tracking-wider ml-3 inline-block;
            }
          }

          li:last-child {
            @apply mb-0;
          }
        }

        .form-group {
          @apply text-left mt-2 md:mt-5;

          label {
            @apply w-full mb-1 pl-1.5 inline-block;

            span {
              @apply text-sm text-purple-300 ml-2;
            }
          }

          input {
            @apply text-white rounded-full border border-purple-600 bg-black bg-opacity-30;
          }
          input[readOnly] {
            @apply text-gray-400 bg-opacity-80 cursor-not-allowed;
          }

          select {
            @apply w-full text-base text-white px-6 py-3 bg-black bg-opacity-80 border border-purple-600 rounded-full shadow-2xl focus:outline-none focus:ring-1 focus:ring-offset-purple-400 focus:border-purple-400;

            option {
              @apply text-lg;
            }
          }
        }

        .form-group:first-child {
          @apply mt-0;
        }

        .legend {
          @apply w-full text-center text-white mb-6 pt-2;
        }

        p {
          @apply text-white py-8;
        }

        .info {
          table {
            @apply w-full text-white mx-auto md:w-9/12;

            tr {
              td {
                @apply w-6/12 text-base py-3 border border-purple-700;
              }

              td:first-child {
                @apply text-purple-300 text-right font-normal pr-8;
              }

              td:last-child {
                @apply text-white bg-black bg-opacity-30;
              }
            }
          }
        }
      }

      .popup-bottom {
        @apply px-10 py-4 grid grid-cols-2 gap-4 ipx:py-2;

        i {
          @apply ml-2;
        }

        &.one-btn {
          @apply mx-auto grid-cols-1 inline-flex;
        }
      }
    }

    &.show {
      @apply opacity-100 block z-30;

      .popup-box {
        @apply animate-showPopup;
      }
    }

    .overlayBg {
      @apply w-full h-screen bg-black animate-300 bg-opacity-40 absolute top-0 left-0;
    }
  }

  .swal2-container {
    @apply lg:w-auto;

    .swal2-popup {
      @apply w-3/5  max-w-md m-auto p-0 shadow-4xl bg-gradient-to-t from-black via-violet-800 to-black rounded-lg linearPurple relative;

      &::before {
        @apply w-full h-2 rounded-t-lg border-t-2 border-fuchsia-600 block absolute top-0;
        content: '';
      }
      .swal2-title {
        @apply text-base text-purple-300;
        h2 {
        }

        h3 {
          @apply text-lg sm:text-base;

          b {
            @apply text-2xl text-white tracking-wider ml-1;
          }
        }
        span.rate {
          @apply w-2/4 text-base text-white mx-auto mt-1 py-1 rounded-md block bg-black border border-violet-600;

          i {
            @apply text-base mr-2;
          }
        }

        ul {
          @apply block;

          li {
            @apply text-sm px-4 inline-block;

            span {
              @apply text-base text-white ml-2;
            }
          }
        }
      }

      .swal2-icon {
        @apply mt-4 mx-auto mb-1;
      }

      .swal2-html-container {
        @apply text-white text-sm font-normal px-6 py-4 bg-black bg-opacity-40 border-t border-purple-700;

        ul.check-box {
          @apply mb-4;

          li {
            @apply w-full text-left;

            &:not(:last-child) {
              @apply mb-3;
            }

            input {
              @apply w-6 h-6 rounded-md float-left;
            }

            span {
              @apply text-base tracking-wider ml-3 inline-block;
            }
          }
        }

        .form-group {
          @apply text-left;

          label {
            @apply w-full mb-1 pl-1.5 inline-block;

            span {
              @apply text-sm text-purple-300 ml-2;
            }
          }

          input {
            @apply text-white rounded-full border border-purple-600 bg-black bg-opacity-30;
          }
        }
      }

      .swal2-actions {
        @apply m-0 pb-4;

        .swal2-styled {
          @apply w-5/12 text-base tracking-widest focus:shadow-none;

          &.swal2-confirm {
            @apply linearPink-2;

            &:hover {
              @apply linearPink-2-hover;
            }

            i {
              @apply ml-2;
            }
          }

          &.swal2-cancel {
            @apply linearPurple-2;

            &:hover {
              @apply linearPurple-2-hover;
            }

            i {
              @apply ml-2;
            }
          }
        }
      }

      &.swal2-icon-success,
      &.swal2-icon-error,
      &.swal2-icon-warning,
      &.swal2-icon-info,
      &.swal2-icon-question {
        .swal2-title {
          @apply text-2xl text-purple-300 font-normal p-0;
        }

        .swal2-html-container {
          @apply py-5;
        }
      }
    }
  }

  .hasRotate90 {
    .popup-center {
      @apply w-screen-h h-screen-w;
    }
    .swal2-container {
      @apply w-screen-h h-screen-w transform origin-top-left rotate-90 translate-x-screen-w;

      .swal2-popup {
        .swal2-icon {
          @apply mt-2;
        }

        .swal2-title {
          @apply pt-1 px-2;
        }

        .swal2-html-container {
          @apply py-4;
        }

        .swal2-actions {
          @apply py-3;
        }
      }
    }
  }

  /* --------------------linearcolor--------------------*/
  .linearPink {
    border: 2px solid transparent;
    background: linear-gradient(to top, #18181b, #18181b), linear-gradient(to bottom, #fe36f8, #fff, #fe36f8, #a0239d);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }

  .linearPink-2 {
    border: 2px solid transparent;
    background: linear-gradient(to bottom, #ff00f7, #810070, #ff00f7), linear-gradient(to bottom, #ff56f1, #fff, #fd08f4);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
  .linearPink-2-hover {
    border: 2px solid transparent;
    background: linear-gradient(to top, #2b0129, #2b0129), linear-gradient(to top, #ff92f6, #ffffff, #a514a0);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }

  .linearPurple {
    border: 2px solid transparent;
    background: linear-gradient(to top, #1e073b, #6305b1), linear-gradient(to bottom, #7d16d1, #fe36f8, #a02fff, #7d16d1);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }

  .linearPurple-2 {
    border: 2px solid transparent;
    background: linear-gradient(to bottom, #7c3aed, #2a0963, #7c3aed), linear-gradient(to bottom, #a390c5, #ffffff, #a154e2, #2a0963);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }

  .linearPurple-2-hover {
    border: 2px solid transparent;
    background: linear-gradient(to top, #140135, #140135), linear-gradient(to top, #a390c5, #ffffff, #a154e2, #2a0963);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }

  /* Vue 隱藏變數 */
  [v-cloak] {
    display: none;
  }

  /* 反灰色 */
  .anti-gray {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    opacity: 0.8;
  }
}
